$black: #000;
$light-gray: #323232;
$white: #FFF;

$ivory: #fffff0;
$light-yellow: #F9E6B3;
$dark-yellow: #EAA53B;

$dark-green: #080F00;
$bright-green: #4AFF2F;
$bright-pink: #CB3EB9;

$error-red: #EB7F8A;;
$error-green: #5EB277